/*!
 * Happy Holidays styles for Coast Creative v0.1
 *
 * Copyright 2012 Coast Creative
 *
 * Designed and built with all the love in the world by Robin Leboe and Derek Thomas
 */

.hero-unit {
	position: relative;
	background-image: url("/_assets/img/hero/01-mountains.jpg");
	height: 130px;
}

.hero-unit aside {
	position: absolute;
	background-image: url("/_assets/img/hero/hero-text-bg.png");
	height: 250px;
	left: 860px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	color: white;
	/*padding-top: 7px;*/
	/*padding-bottom: 7px;*/
	/*padding-right: 7px;*/
	/*padding-left: 7px;*/
	/*	-webkit-border-radius: 6px;*/
	/*	-moz-border-radius: 6px;*/
	/*border-radius: 0px 6px 6px 0px;*/
}

.hero-unit p {
	line-height: 21px;
}
