/*!
 * Happy Holidays styles for Coast Creative v0.1
 *
 * Copyright 2012 Coast Creative
 *
 * Designed and built with all the love in the world by Robin Leboe and Derek Thomas
 */


#logo {
    left: -15px;
    position: absolute;
}

/*.navbar-fixed-top .navbar-inner {*/
.navbar .navbar-inner {
	background-color: #55683b;
	background-image: none;
	box-shadow: none;
	margin-top: 0px;
}

.navbar-inner {
	height: 55px;
	border-radius: 0 0 0 0;
	margin-top: 0px 0px 0px 0px;
}

.container {
	position: relative;
	width: 1140px;
}

#cc-main-menu {
	margin: 15px 0 0 190px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
	background-color: #55683B;
}

.navbar .nav > li > a {
	color: white;
	font-size: 15px;
}

#CAT_Search {
	background-color: #AAB49D;
	border: medium none;
	height: 21px;
	padding: 0 0 0 10px;
	width: 180px;
}

.search-box input[type="image"] {
  margin-left: -28px;
}

.hero-unit {
	background-image: url("../../_assets/img/hero/01-mountains.jpg");
	background-repeat: no-repeat;
	height: 291px;
	margin: 80px 0 0 0;
	padding: 0px;
	position: relative;
}

.hero-unit aside {
	padding-left: 35px;
	padding-top: 23px;
	position: absolute;
	background-image: url("../../_assets/img/hero/hero-text-bg.png");
	background-repeat: no-repeat;
	/*height: 250px;*/
	right: 0px;
	top: 0px;
	bottom: 0px;
	color: white;
	left: 780px;
	/*padding-top: 7px;*/
	/*padding-bottom: 7px;*/
	/*padding-right: 7px;*/
	/*padding-left: 7px;*/
	/*	-webkit-border-radius: 6px;*/
	/*	-moz-border-radius: 6px;*/
	/*border-radius: 0px 6px 6px 0px;*/
}

.hero-unit h1 {
	font-size: 60px;
}

.hero-unit h2 {
	color: white;
	font-size: 30px;
}

.hero-unit p {
	bottom: 40px;
	font-size: 15px;
	font-weight: 200;
	height: 90px;
	line-height: 16px;
	margin: 4px;
	margin-right: 26px;
	position: relative;
	top: 0;
	font-style: italic;
}

.hero-unit a {
	color: white;
	float: right;
	font-size: 18px;
	margin-right: 26px;
	/*font-style: bold;*/
}

.row {
  margin-top: 15px;
}

#page-content{
  line-height: 18px;
	margin-top: 78px;
	position: relative;
}

.page-image {
	float: right;
	padding: 0 25px 0 50px;
}

.page-image img {
	border: medium solid #555555;
	box-shadow: 3px 3px 4px 1px #999999;
	display: block;
	margin-bottom: 10px;
}
.page-image-caption {
	font-size: 12px;
	text-align: center;
	padding-right: 0;
}

section.body-copy {
	width:70%;
}

section.body-copy h1 {
	color: #55683B;
}

section.body-copy h2 {
	color: #666667;
	font-size: 22px;
	padding: 20px 0 5px;
}

section.body-copy p {
	font-size: 14px;
	line-height: 1.6em;
	padding-right: 25px;
}

#call-to-action {
	float: right;
	padding-right: 25px;
	text-align: right;
}

.contact-tel {
	
}

.contact-hours {
	
}

#side-bar {
	border: 2px solid #ACB3A1;
	border-radius: 5px 5px 5px 5px;
	display: block;
	height: 500px;
	position: absolute;
	right: 25px;
	top: 30px;
	width: 225px;
}

#side-bar img {
	margin: 10px;
}

#side-bar p {
	color: #777777;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
