<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>
  <div class="blog-container">   <h1>{tag_blogtitle}</h1>   <p class="description">{tag_blogdescription}</p>   <div class="wrapper clear">    <div class="post-list">     {tag_postlist}     <hr />     <p class="page-nav">{tag_previouspage} {tag_pagination} {tag_nextpage}</p>      </div>    <div class="side-panel">     <h4>Recent Posts</h4>     {tag_blogrecentpost}     <hr />     <h4>Tags</h4>     {tag_blogtagcloud}     {tag_blogtaglist}     <hr />     <h4>Archive</h4>     {tag_blogpostarchive}    </div>   </div><!-- END .wrapper -->  </div><!-- END .blog-container -->      

</body>