<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>
  <table class="forum" cellpadding="0" cellspacing="0">    <tr>     <td class="name">      <div class="icon">       <img src="/CatalystImages/b32/users 1.png" alt="" />      </div>      <div class="forum">       <h3>{tag_forumname}</h3>       {tag_forumdescription}      </div>     </td>     <td class="topics">Topics: <strong>{tag_forumtotaltopics}</strong></td>     <td class="posts">Posts: <strong>{tag_forumtotalposts}</strong></td>     <td class="lastpost"><strong>{tag_forumlastpostdate}</strong><br />by {tag_forumlastpostauthor}</td>    </tr>  </table>    

</body>