<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>
  <div class="post">   <h2>{tag_postdate}</h2>   <table class="container" cellpadding="0" cellspacing="0">     <tr class="content">      <td class="author">       <h3 class="name">{tag_postauthoralias}</h3>       <p class="total-posts">Posts: {tag_totalauthorposts}</p>      </td>      <td class="post">{tag_postmessage}</td>     </tr>     <tr class="sub">      <td class="attribute">&nbsp;</td>      <td class="action">{tag_replypostlink}</td>     </tr>   </table>  </div>  

</body>