<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>
<form name="catcustomcontentform39872" onsubmit="return checkWholeForm39872(this)" enctype="multipart/form-data" method="post" action="/CustomContentProcess.aspx?A=EditSave&CCID=23615&OID={module_oid}&OTYPE={module_otype}"><table class="webform" cellspacing="0" cellpadding="2" border="0"><tr><td><label for="ItemName">Item Name</label><br /><input class="cat_textbox_small" type="text" name="ItemName" id="ItemName" maxlength="255" /> &bull;</td></tr><tr><td><label for="ItemDescription">Item Description</label><br /><textarea name="ItemDescription" id="ItemDescription" cols="10" rows="4" class="cat_listbox" text=""></textarea></td></tr><tr><td><input class="cat_button" type="submit" value="Submit" id="catcustomcontentbutton" /></td></tr></table><script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script><script type="text/javascript">
//<![CDATA[
var submitcount39872 = 0;function checkWholeForm39872(theForm){var why = "";if (theForm.ItemName) why += isEmpty(theForm.ItemName.value, "Item Name");if (why != ""){alert(why);return false;}if(submitcount39872 == 0){submitcount39872++;theForm.submit();return false;}else{alert("Form submission is in progress.");return false;}}
//]]>
</script></form>
</body>