<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>

<style type="text/css"> p.false { display:none; } </style>
<div class="system-message">
	<h1>Password Reset</h1>
	<p class="error {tag_error}" id="errorMessage">ERROR: An error occurred while resetting your password.</p>
	<p>Please fill in your new password in the form below:</p>
	
	<form action="{module_secureurl}/ResetPasswordProcess.aspx?Token={tag_token}&Redirect={module_siteurl}" method="post" name="catseczonerpform" onsubmit="return checkWholeForm(this)">
		<div class="form">
			<div class="item">
				<label>New Password</label><br />
				<input class="textbox" type="password" maxlength="255" value="" name="RPPassword" />
			</div>
			<div class="item">
				<label>Confirm New Password</label><br />
				<input class="textbox" type="password" maxlength="255" value="" name="RPPasswordConfirm" />
			</div>
			<div class="item">
				<input class="button" type="submit" value="Submit" />
			</div>
		</div>
		
		<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script>
		<script type="text/javascript">
			function checkWholeForm(theForm){
				var why = "";
				why += isEmpty(theForm.RPPassword.value, "New Password");
				why += (theForm.RPPassword.value != theForm.RPPasswordConfirm.value ? "The password and its confirmation don't match" : "");
				if (why != "") { alert(why); return false; }
				theForm.submit(); 
				return false;
			}
		</script>
	</form>
</div>
</body>