<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>
<html>
    <head>
    </head>
    <body>
        <table cellspacing="0" cellpadding="6" width="50%" class="invoice">
            <tbody>
                <tr>
                    <td><strong>SHIP FROM:</strong><br />
                    <blockquote style="margin-left: 50px;">[Company Name]<br />
                    [Address 1]<br />
                    [Address 2]<br />
                    <strong>[City], [State] [ZIP Code]</strong>
                    </blockquote></td>
                </tr>
                <tr>
                    <td>
                    <hr />
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><strong>SHIP TO:</strong>
                    <blockquote style="margin-left: 50px;">
                    <span style="font-size: 16px;">{tag_recipientname}</span><br />
                    <span style="font-size: 16px;">{tag_addressshipping}      </span></blockquote></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
</body>