<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>
  <h3>Case Details</h3>  <table class="case-details" cellspacing="0" cellpadding="0">    <tr class="odd">     <td class="var">Subject</td>     <td class="val">{tag_subject}</td>    </tr>    <tr>     <td class="var">Description</td>     <td class="val">{tag_description}</td>    </tr>    <tr class="odd">     <td class="var">Status</td>     <td class="val">{tag_status}</td>    </tr>    <tr>     <td class="var">Category</td>     <td class="val">{tag_category}</td>    </tr>    <tr class="odd">     <td class="var">Assigned To</td>     <td class="val">{tag_assignedto}</td>    </tr>    <tr>     <td class="var">Create Date</td>     <td class="val">{tag_createdate}</td>    </tr>    <tr class="odd">     <td class="var">Last Update Date</td>     <td class="val">{tag_lastupdatedate}</td>    </tr>    <tr>     <td class="var">Thread</td>     <td class="val">{tag_thread}</td>    </tr>  </table>      

</body>